@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon: #39FF14;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-neon {
    color: var(--neon);
  }
  .bg-neon {
    background-color: var(--neon);
  }
  .border-neon {
    border-color: var(--neon);
  }
  .shadow-neon {
    box-shadow: 0 0 10px var(--neon), 0 0 20px var(--neon);
  }
}
